* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #30B868;
}
.btn-white {
    background-color: transparent;
    padding: 12.5px 16px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn-white:hover {
   background-color: #30B868;
   color: white;
   border: none;
}
#banner {
    width: 100%;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#banner .banner-content .early-access{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    border-radius: 50px;
    background: white;
    font-size: 16;
    font-weight: 500;
    color: #30B868;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner .banner-content h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.green-text {
    color: #30B868;
}
#banner .banner-content p {
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-top: 16px;
}
#banner .banner-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
}
.note-section {
    margin-top: 60px;
}
.note-box {
    max-width: 1360px;
    margin-top: 44px;
    margin-left: 120px;
    margin-right: 120px;
    gap: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.note-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.note-section p {
    font-size: 16px;
    color: #627382;
    text-align: center;
}
.note-box .note-card {
    width: 320px;
    height: 320px;
    padding: 24px;
    gap: 24px;
    align-items: center;
    text-align: center;
}
.note-card .orange-circle {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}
.note-card .orange-circle img {
    width: 30px;
    height: auto;
    display: block;
}
.note-box .note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-box .note-card p {
    font-size: 16px;
    color: #627382;
}
#second-brain {
    max-width: 1360px;
    margin: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
#second-brain .second-brain-content .green {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
#second-brain .second-brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#second-brain .second-brain-content p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
#second-brain .second-brain-content .points p {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}
#early-access-section {
    padding: 2px 120px 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#early-access-section h3 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#early-access-section p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
#early-access-section .button4 {
    margin-bottom: 16px;
}
footer {
    background-color: #001931;
    width: 100%;
    height: 380px;
    padding: 120px 120px 30px;
}
.footer-content {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-content .social-icon h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.footer-content .social-icon .social-icons {
    display: flex;
    width: 20px;
    height: 20px;
    gap: 16px;
    cursor: pointer;
}
footer .copyright .white-line {
    width: 1360px;
    align-items: center;
    border: none;
    height: 1px;
    background-color: white;
    opacity: 0.3;
    margin-bottom: 30px;
}
footer .copyright p {
    font-size: 16px;
    color: white;
    text-align: center;
}